.phase_1 {
  display: grid;
  grid-template-columns: 50% 30%;
  column-gap: 20%;
}
.phase_2 {
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 15%;
  padding: 5%;
}

.grid {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  height: 600px;
  width: 600px;
}
.grid_square {
  width: 100%;
  height: 100%;
  background-color: blue;
  border: 5px black solid;
}
.grid_square.active {
  background-color: red;
}
.grid_square.hover {
  background-color: black;
}
.grid_square.hit {
  background-color: gray;
}

.ship {
  background-color: red;
  border: 2px solid black;
  width: 180px;
  height: 60px;
}
